body{
	background-color:#f7f7f7;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

/*NAVIGATION BAR*/
	.navbar-color{
		background-image: linear-gradient(to right top, #00416a, #00487a, #004e8a, #00549b, #005aab);
	}
	.navbar-brand, .navbar-nav li a{
		color: #f1f1f1 !important;
	}
	#nav-list {
	  margin-top: -5px;
	}
	#nav-list a {
	  text-align: center; 
	  margin-left: 50px;
	}
	#nav-list a:hover {
	  color: #aaa !important;
	}
	/*SIDEBAR*/
	.sidebar{
		background-image: linear-gradient(to left bottom, #fada5e, #fbd84f, #fdd73e, #fed529, #ffd300);
		color: #3C280D;
	}
	#add-schedule form{
		margin-top: -10px;
	}
	#add-schedule label{
		margin-top:20px;
	}
	#select-course, #select-prof, #select-class, #select-day, 
	#select-start-time, #select-end-time, #select-room{
		margin-top:-6px;
	}
	.square_btn{
	    font-weight: bold;
	    padding: 0.8em 1em;
	    border-left: solid 4px #005aab;
	    border-right: solid 4px #005aab;
	    color: #005aab;
	    background: #e1f3ff;
	    transition: .2s;
	}
	.square_btn:hover {
	    background: #005aab;
	    color: #fff;
	}
	/*FACULTY WORKLOAD*/
	input#workload_search{
	  margin: 0 auto;
	  width: 100%;
	  height: 46px;
	  padding: 0 12px;
	  border: 1px solid #D0CFCE;
	  outline: none;
	 }