<!DOCTYPE html>
<html lang="en">
<head>
  	<title>CSIT Class Scheduler</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/x-icon" href="../global/img/bucs-logo.png">
	<link rel="stylesheet" href="../../global/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../global/css/navbar.css">
	<link rel="stylesheet" href="../../global/css/default-theme.css">
	<link rel="stylesheet" href="../../global/css/footer.css">
	<script type="text/javascript" src="../../global/js/jquery.min.js"></script>
  	<script type="text/javascript" src="../../global/js/bootstrap.min.js"></script>
	<script src="js/daypilot-all.min.js?v=2018.2.232" type="text/javascript"></script>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light navbar-color">
	  	<div class="navbar-brand" style="user-select: none">
			<img src="../../global/img/bucs-logo.png" alt="CSIT departmental logo">
			<h1>CLASS SCHEDULER</h1>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul id="nav-list" class="navbar-nav">
	      		<li class="nav-item">
	        		<a class="nav-link" href="../faculty">Faculty Workload</a>
	      		</li>
		      	<li class="nav-item active">
		        	<a class="nav-link" href="#">Weekly Schedule</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="#">Room Designation</a>
		      	</li>
	    	</ul>
	  	</div>
	</nav> <!-- END OF TNAVIGATION BAR -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
					<section id="add-schedule">
					<header>
						<h2>VIEW SCHEDULE</h2>
					</header>
					<hr>
					<form action="php/functions.php" method="POST">
						<p style="color:green">Filter Schedule </p>
						<input type="hidden" name="add_schedule" id="add_schedule" value="1">
						
						<label for="select-prof">Professor</label>
						<select id="select-prof" class="form-control" required></select>

						<label for="select-class">Class</label>
						<select id="select-class" class="form-control" required></select>


						<label for="select-room">Room</label>
						<select id="select-room" class="form-control" required></select>
						<div id="error_msg"></div>

					</form>
				</section>
			</div>
			<div class="col-md-9">



				<div id="dp"></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Schedule Information</h4>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	        <div class="modal-body">
	          <div id="course_code">Course code here</div>
	          <div id="course_description">Course description here</div>
	          <div id="professor">Professor here</div>
	          <div id="class">class here</div>
	          <div id="room">room here</div>
	          <div id="schedule">Schedule here</div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>

	<footer><i>Footer here (work in progress).</i></footer>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>