table caption {
    caption-side: top;
    padding-bottom: 0;
}

caption address {
    display: inline-block;
    color: white;
    margin: 0;
    padding: 0.2em 1.5em;
    background-color: #2196F3;
}

th, td {
    text-align: center;
}

select {
    max-width: 5.8em;
    border: none;
    background-color: transparent !important;
}

select[class="subject"] {
    max-width: 5.8em;
}

input[type="number"][class$="unit"] {
    max-width: 3.3em !important;
    border: none;
    background-color: transparent;
}

.time-container {
    vertical-align: middle;
    margin-top: -0.3em;
    display: inline-block;
    max-width: 3.75em;
    overflow: hidden;
}

input[type="time"] {
    width: 7em;
    font-size: 0.8em;
    border: none;
    background-color: transparent;
}

input[type="time"]:focus {
    outline: none;
}

.checklist {
    position: relative;
}

.checklist .toggler {
    border: none;
    background-color: transparent;
}

.checklist .toggler:hover {
    background-color: #fafafa;
}

.checklist .dropdown {
    position: absolute;
    text-align: left;
    min-width: 9em;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid #777777;
}